/* Marmite Typewriter Theme */
/* picocss.com  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --pico-border-radius: 0;
    --pico-font-family: "Roboto", serif;
    --pico-typography-spacing-vertical: 0.5rem;
}

.content-tags a:where(a:not([role=button])),
[role=link] {
    --pico-color: revert;
}

[data-theme=light],
:root:not([data-theme=dark]) {
    --pico-background-color: #fff8ef;
    --pico-card-background-color: #fff8ef;
    --pico-card-sectioning-background-color: var(--pico-background-color);
    --pico-primary: #20453f;
    --pico-primary-hover: var(--pico-primary);
    --pico-secondary: var(--pico-primary);
    --pico-secondary-hover: var(--pico-primary);
    --pico-secondary-background: var(--pico-primary);
    --pico-menu: var(--pico-primary);
    --pico-color: var(--pico-secondary);
    --pico-tag: var(--pico-color);
    --pico-h1-color: var(--pico-primary);
    --pico-h2-color: var(--pico-primary);
    --pico-h3-color: var(--pico-primary);
    --pico-h4-color: var(--pico-primary);
    --pico-h5-color: var(--pico-primary);
    --pico-h6-color: var(--pico-primary);
    --pico-code-background-color: var(--pico-background-color);
    --pico-table-border-color: var(--pico-card-background-color);
    --pico-color-azure-550: var(--pico-primary);
    --pico-card-box-shadow: transparent;
    --pico-muted-color: var(--pico-color);
    --pico-menu-selected: var(--pico-primary);
}

[data-theme=light] pre:has(> code.language-mermaid) {
    background-color: var(--pico-card-background-color);
}

[data-theme=dark],
:root:not([data-theme=light]) {
    --pico-background-color: #20453f;
    --pico-card-background-color: #20453f;
    --pico-card-sectioning-background-color: var(--pico-background-color);
    --pico-primary: #fff8ef;
    --pico-primary-hover: var(--pico-primary);
    --pico-secondary: var(--pico-primary);
    --pico-secondary-hover: var(--pico-primary);
    --pico-secondary-background: var(--pico-primary);
    --pico-menu: var(--pico-primary);
    --pico-color: var(--pico-secondary);
    --pico-tag: var(--pico-color);
    --pico-h1-color: var(--pico-primary);
    --pico-h2-color: var(--pico-primary);
    --pico-h3-color: var(--pico-primary);
    --pico-h4-color: var(--pico-primary);
    --pico-h5-color: var(--pico-primary);
    --pico-h6-color: var(--pico-primary);
    --pico-code-background-color: var(--pico-background-color);
    --pico-table-border-color: var(--pico-card-background-color);
    --pico-color-azure-550: var(--pico-primary);
    --pico-card-box-shadow: transparent;
    --pico-muted-color: var(--pico-color);
    --pico-menu-selected: var(--pico-primary);
}

[data-theme=dark] pre:has(> code.language-mermaid) {
    background-color: var(--pico-code-color);
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: ;
}
.header-content {
    padding-top: 6rem;

    hgroup {
        margin-bottom: 0;
    
        h2 {
            margin-bottom: 0rem;
            font-weight: 700;
            font-size: 2.25rem;

            a {
                margin: 0;
                padding: 0;
            }
        }
        p {
            opacity: 0.8;
            font-size: 1.15rem!important;
            margin: 0;
        }
    }
}
.header-nav {
    justify-content: center;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    gap: 2rem;
}
.header-menu .menu-item {
    padding: 0 1rem 0 0;
    margin: 0;
}
.theme-toggle {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pico-primary);
    color: var(--pico-background-color);
    border-radius: 0.25rem;
    font-size: 1.5rem;
    z-index: 10;
}
nav li {
    padding: 0;
}
nav ol:first-of-type, nav ul:first-of-type {
    margin-left: 0;
}

.header-menu li {
    padding: 0;
}
.search-magnifier {
    width: 0.75rem;
    height: 0.75rem;
}
.hero article {
    padding: 0;
}
blockquote {
    border-left: .15rem solid var(--pico-blockquote-border-color);
    border-inline-start: 0.15rem solid var(--pico-blockquote-border-color);
}

.content-tags li:hover {
    border: 1px solid transparent;
}
.content-tags {
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    opacity: 0.8;

    li {
        padding: 0;
    }
}
.content-date {
    opacity: 0.8;
}
article {
    padding: 0;
    margin: 3rem 0;
}
h1,h2,h3,h4,h5,h6 {
    --pico-font-weight: 500
}
.content-title {
    margin: 0.25rem 0 -0.5rem 0;
    line-height: 1;

    h1 {
        margin-bottom: 0.25rem;
    }
}

.hero h1 {
    font-size: 1.95rem;
    font-weight: 300;
}

p {
    line-height: 1.7;
    margin: 1rem 0;
}

blockquote {
    border-left: 0 solid var(--pico-blockquote-border-color);
    border-inline-start: 0 solid var(--pico-blockquote-border-color);
    padding: 2rem;
    border-radius: 0.25rem;
    margin: 2rem 0;
    backdrop-filter: brightness(0.85);
    

    p {
        line-height: 1.5;
        margin: 0;
    }

    a {
        text-decoration: underline;
        transition: 0.2s;

        &:hover {
            color: var(--pico-card-background-color);
            opacity: 0.8;
        }
    }
}

.underline {
    position: absolute;
    height: 2px;
    background-color: var(--pico-primary);
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out;
    bottom: -2px;
    left: 0;
    max-width: 1.25rem;
    opacity: 1;
}

.footer-content {
    padding: 2rem 0;
    opacity: 0.75;
    font-weight: 300;
    font-size: 0.85rem;
    border-top: 1px #869d99 solid;
}

.content-list-item .content-date {
    top: -0.5rem;
}

code, kbd, pre {
    border-radius: var(--pico-border-radius);
    background: var(--pico-background-color);
    color: var(--pico-color);
    font-weight: var(--pico-font-weight);
    line-height: initial;
}

details {
    font-size: 1.25rem;

    summary::after {
        bottom: -6px;
        position: relative;
        
    }
}


.group-details details summary,
.group-details details summary:focus,
.group-details details summary:hover,
.group-details details summary:active {
    border: none!important;
    margin-bottom: 0.25rem!important;
    padding: 0!important;
    font-size: 1.5rem!important;
}

:is(button,[type=submit],[type=button],[role=button]).contrast:focus {
    --pico-box-shadow: none;
}

.list-title article {
    font-size: 1.5rem;
}

.header-name {
    display: none;
}

.content-date {
    opacity: 0;
    position: absolute;
}

.header-menu {

    @media (max-width: 450px) {
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 16px;
        border-bottom: 1px #959595 solid;
    }
}